<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, "Hourly Payment" %>
  <%= checkbox f, :is_hourly, id: "is_hourly" , default: true%>
  <%= error_tag f, :is_hourly %>

  <%= label f, "Real-time Payment" %>
  <input type="checkbox" id="is_real_time">

  <%= label f, :start_time %>
  <%= time_select f, :start_time, id: "start_time" %>
  <%= error_tag f, :start_time %>

  <%= label f, :leaving_time, id: "leaving_time_label" %>
  <%= time_select f, :leaving_time, id: "leaving_time" %>
  <%= error_tag f, :leaving_time %>

  <div>
    <%= submit "Submit booking", id: "submit_booking" %>
  </div>


<% end %>

<script>

  document.getElementById('is_hourly').onclick = function(event, data){
    let isHourlySelected = event.target.checked

    document.getElementById('is_real_time').checked = !isHourlySelected;
    toggleLeavingTimeFields(!isHourlySelected);
  }

  document.getElementById('is_real_time').onclick = function(event, data){
    let isRealTimeSelected = event.target.checked

    document.getElementById('is_hourly').checked = !isRealTimeSelected;
    toggleLeavingTimeFields(isRealTimeSelected)
  }

  let toggleLeavingTimeFields = function(condition){
    document.getElementById('leaving_time_label').style.opacity = condition ? "0.5" : "1";
    document.getElementById('leaving_time_hour').disabled = condition;
    document.getElementById('leaving_time_minute').disabled = condition;
  }

</script>
