<%= form_for @changeset, Routes.settings_path(@conn, :update, @user), fn user -> %>
  <label>
    Settings
  </label>
  <p id="balance"><%= @user.balance %></p>

  <label>
    Input money
  </label>

  <input name="input_money" id="input_money"/>

  <%= submit "Add", id: "add" %>
<% end %>
