<%= form_for @changeset, Routes.settings_path(@conn, :update, @user), fn user -> %>
  <label>
    Settings
  </label>
user
  <%# <input checked="checked" name="is_monthly_payment_name" id="is_monthly_payment_id" type="checkbox" value="user[is_monthly_payment]"/> %>
  <%= checkbox(user, :is_monthly_payment, value: true,  id: "is_monthly_payment_id")%>
  Is monthly payment
  <%= submit "Update", id: "submit_settings" %>
<% end %>
