<section class="phx-hero">

  <%= if Fmps.Authentication.load_current_user(@conn) do %>
      <h1><%= gettext "Welcome %{name}!", name:  Fmps.Authentication.load_current_user(@conn).name %></h1>
      <h1><%= %></h1>
  <% else %>
            <li><%= link "Log in", to: Routes.session_path(@conn, :new) %></li>
  <% end %>

  <%= if  Fmps.Authentication.load_current_user(@conn)  do %>

      <section class="row">
      <article class="column">
        <ul>
        <li><%= link "Search for parking spots", to: Routes.search_path(@conn, :index)%></li>
        <li><%= link "My Wallet", to: Routes.mywallet_path(@conn, :index)%></li>
        <li><%= link "Settings", to: Routes.settings_path(@conn, :index)%></li>
        <li><%= link "My Ongoing Booking", to: Routes.ongoing_booking_path(@conn, :index)%></li>
        </ul>
      </article>
    </section>
  <% end %>
</section>
